<div class="container">

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.id %></td>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
      </tr>
    <% end %>
  </table>
  <%= form_tag( { :action ⇒ 'upload' }, :multipart ⇒ true ) %>
    <%= text_field "contact.name" %>
  <%= end_form_tag %>

</div>
